.sideBar {
  width: 25rem;
  position: fixed;
  left: 0;
  height: 100vh;
  gap: 0.5rem;
  background-color: var(--greyish-black);
  padding-top: 2rem;
}
.aside-tab {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 4.5rem;
  gap: 3rem;
  padding-left: 3rem;
  align-items: center;
  color: var(--white);
}
.aside-tab:hover {
  background-color: var(--grey);
}
.aside-subhead {
  font-size: 1.6rem;
}
.showSide {
  position: fixed;
  z-index: 10;
  left: 0;
  gap: 0.5rem;
  padding-top: 2rem;
  background-color: var(--greyish-black);
  width: 25rem;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .sideBar {
    display: none;
  }
  .show-backdrop {
    position: fixed;
    top: 7.2rem;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop);
    z-index: 5;
  }
  .hide-backdrop {
    display: none;
  }
}
