.profile-card {
  width: 35rem;
  gap: 2rem;
  height: max-content;
  position: absolute;
  top: 20rem;
  padding: 0 1rem 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 0 0.6rem var(--card-shadow);
}
.header-tab {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.7rem 0;
  border-bottom: 2px solid var(--dark-orange);
  cursor: pointer;
}
.profile-card-headings {
  margin: 0;
}
.user-details {
  gap: 1rem;
}
.user-data {
  gap: 1rem;
  align-items: center;
}
.new-address {
  cursor: pointer;
}
.logout-btn {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 0 0.6rem var(--dark-orange);
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .profile-card {
    width: 30rem;
  }
}
