.playlist-card {
  width: 33rem;
  height: 20.7rem;
  position: relative;
  gap: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 0 0.6rem var(--card-shadow);
}
.thumbnail-container {
  height: 16rem;
}
.thumbnail {
  height: 16rem;
  cursor: pointer;
}
.video-count {
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  background-color: rgba(63, 61, 70, 0.8);
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.num-of-videos {
  font-size: 2rem;
}
.title-container {
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0 0.8rem 0 1rem;
}
.video-title {
  width: 90%;
  font-weight: 900;
  text-align: left;
}
.ellipse {
  cursor: pointer;
}
.video-card-footer {
  justify-content: space-between;
  padding: 0 0.8rem 0 1rem;
  margin-bottom: 1.2rem;
}
.delete-playlist {
  cursor: pointer;
}
.creator {
  font-weight: 600;
}

.remove-playlist {
  background-color: var(--greyish-black);
  position: absolute;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  color: var(--red);
  gap: 0.6rem;
  align-items: center;
  z-index: 2;
  bottom: 0.3rem;
  right: 1.8rem;
}

@media screen and (max-width: 1500px) {
  .playlist-card {
    width: 29rem;
  }
}
@media screen and (max-width: 500px) {
  .playlist-card {
    width: 95%;
  }
}
