:root {
  --grey-medium: #adb5bd;
  --grey: #34343d;
  --white: white;
  --text-color: rgb(231, 220, 220);
  --card-shadow: #adb5bd;
  --red: #cf000f;
  --black: black;
  --light-black: #191921;
  --orange: #f48c06;
  --background-color: #141319;
  --primary-light: #0b77e4;
  --nav-box-shadow: #eee;
  --sidebar-active: #262f44;
}

.App {
  background-color: var(--background-color);
  min-height: 100vh;
}
.main-cont {
  min-height: 100vh;
  width: 100vw;
  gap: 2rem;
}
.right-main {
  padding: 3rem 0;
  margin-left: 33rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5rem;
  height: 100%;
}
