:root {
  --grey-medium: #dcdee0;
  --grey: #34343d;
  --white: white;
  --text-color: rgb(236, 227, 227);
  --card-shadow: #adb5bd;
  --red: #cf000f;
  --black: black;
  --greyish-black: #34343d;
  --light-black: #191921;
  --orange: #f48c06;
  --background-color: #141319;
  --primary-light: #0b77e4;
  --nav-box-shadow: #eee;
  --sidebar-active: #262f44;
}

.App {
  background-color: var(--background-color);
  min-height: 100vh;
}
.main-cont {
  min-height: 100vh;
  gap: 2rem;
}
.right-main {
  padding: 3rem 0rem 3rem 0;
  margin-left: 33rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .right-main {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .right-main {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .right-main {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .right-main {
    margin: 0;
    padding: 3rem 1rem;
  }
}
